### Different ways of creating DataFrame, 
+ Using CSV
+ Using Excel
+ From Python Dictionary
+ From list of tuples
+ From list of dictionaries

In [8]:
import pandas as pd
Weather_dataset={  # Create DataFrame using Dict
    'Day':['1/1/2017','1/1/2017','1/3/2017'],
    'Temperature':['32','35','28'],
                   'windspeed':['6','7','2'],
                   'event':['Rain','Sunny','Snow']
                   }
df=pd.DataFrame(Weather_dataset) 
df

        Day Temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/1/2017          35         7  Sunny
2  1/3/2017          28         2   Snow

In [3]:
import pandas as pd
df=pd.DataFrame({
    'Day':['1/1/2017','1/1/2017','1/3/2017'],
    'Temperature':['32','35','28'],
                   'windspeed':['6','7','2'],
                   'event':['Rain','Sunny','Snow']
                   })
df

        Day Temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/1/2017          35         7  Sunny
2  1/3/2017          28         2   Snow

### To import from csv and Excel
+ import pandas as pd 
+ df=pd.read_csv("Name_of_the_file")
+ df
+ import pandas as pd 
+ df=pd.read_Excel("Name_of_the_file")
+ df

In [24]:
weather_dataset=[
    {'Date':'1/1/2017','Temperature':'32','Windspeed':'6','Event':'Rain'},
    {'Date':'1/2/2017','Temperature':'35','Windspeed':'7','Event':'Sunny'},
    {'Date':'1/3/2017','Temperature':'28','Windspeed':'2','Event':'Snow'}
]
df=pd.DataFrame(weather_dataset)   # Another way to create the table using the dictonary
df

       Date Temperature Windspeed  Event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny
2  1/3/2017          28         2   Snow